:host {
  display: block;
  width: 100%;
}

.p-input-icon-left {
  width: 100%;
  
  input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border-radius: 12px;
    border: 1px solid var(--surface-border);
    
    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
      outline: none;
    }
  }

  i {
    left: 1rem;
    color: var(--text-color-secondary);
  }
}